@font-face {
	font-family: 'Apercur';
	src: url('fonts/Apercu.otf');
	src: local('â˜º'), url('font/Apercu.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercur-Bold';
	src: url('fonts/Apercu-Bold.otf');
	src: local('â˜º'), url('font/Apercu-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercur-Light';
	src: url('fonts/Apercu-Light.otf');
	src: local('â˜º'), url('font/Apercu-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercur-Medium';
	src: url('fonts/Apercu-Medium.otf');
	src: local('â˜º'), url('font/Apercu-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}


html{}
body{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	line-height: 1.8em;
	background-color:#FFF;
	padding:0px;
	margin:0px;
}
.alert{display: none;}
.contact{
	padding: 40px;
	font-size: 25px;
	margin: 20px 0;
}

.footer a{color:#000;}

.footer a:hover{}
.center{text-align:center;}
.block{padding-top: 95px;}
.block-space{height: 95px;}
.section-space{height: 114px;}
.row-space{ padding: 48px;}

.light{font-family: 'Apercur-Light';}
.white {color:#FFF;}

.section{padding: 48.5px 0px;}
.section-col-left{text-align:left;}
.section-col-right{text-align:right;}
.section-logo{margin-bottom: 27px; margin-top: 50px;}
.tuvalum{background-color: #51b9ff;}
.sclusib{color:#000;}
.battgo{background-color: #64dc16;}
.busvision{background-color: #ffca00;}
.monde{background-color: #292929;}
.team{
	margin: 0 auto;
	text-align: center ;
	padding: 15px;
}
.btn-rudo{
	background-color: #ffcc33;
	color: #FFF;
	width: 245px;
	font-size: 22px;
	outline: none;
}
.header{
	font-family: 14px;
	background: url('../images/BACKGROUND.png') no-repeat bottom center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;
}
.header_jump{
	padding-top: 142px;
	font-size: 22px;
	background: url('../images/atrevete.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 409px;
}
.logo{
	width: 163px;
	height: 61px;
}
.header-space{
	height: 140px;
}
h1{
	font-size: 70px;
	font-weight: bold;
	color:#4d4e4e;
	padding: 0px;
	margin:0px;
}
h2{
	font-size: 50px;
	line-height: 1.2;
	font-weight: bold;
}
h3{
	font-size: 20px;
	padding-bottom: 10px;
	margin: 0px;
	font-weight: bold;
}
h4{
	font-size: 14px;
	padding-bottom: 20px;
	margin: 0px;
	font-weight: bold;
	text-transform: uppercase;
}
.nav-pills{

	float: right;
  display: block;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

.nav-pills > li{
	
}
.nav-pills, .nav-pills > li > a{
	font-weight: bold;
	border-radius:0px;
}
.nav-pills > li > a:hover{
	border-radius: 5px;
	color:#ec1968;
	background-color: #FFF;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
	text-decoration: none;
	border-radius:5px;	
    color: #ec1968 !important;
	background-color: #FFF !important;
}

.nav .active { background:none }
/*************************************************/
.topheader, .topheader_transparent{        
    padding-top:50px ;
    padding-bottom: 10px;
    // set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: none;
}

.sticky .nav-pills > .active > a,
.sticky .nav-pills > .active > a:hover {
	text-decoration: none;
	border-radius:5px;	
    color: #FFF !important;
	background-color: #ec1968 !important;
}

.topheader .nav-pills > li > a:hover{
	border-radius: 5px;
	color:#FFF;
	background-color: #ec1968;
}





.topheader_transparent .nav-pills > li > a {
  color: #000;
}

      
.topheader.sticky, .topheader_transparent.sticky{
    position: fixed;  
    padding-top:30px ;  
    width: 100%;
    z-index: 999;
    background: #FFF;  
    color: #FFF; 
    border-bottom: 1px solid #f1f1f1;     
}
.topheader .nav-pills > li > a {
color:#4d4e4e;
}

.sticky .nav-pills > li > a{
	border-radius: 5px;
	color:#000;
}

.topheader_static{    
  padding-top: 50px;
}

/********************************************************/
