@media (max-width:768px){
body{
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	line-height: 1.8em;
	background-color:#FFF;
	padding:0px;
	margin:0px;
}
.logo{
	width: 120px;
	height: auto;
	
}
.nav-pills{
	padding-top: 20px;
}
.nav-pills > .active{
	text-decoration: none;
	border-radius:5px;	
    color: #1d7ed6 !important;
	background-color: #FFF !important;
	position:absolute;
	top:-45px;
	right: 20px;
}
.header-space{
	height: 100px;
}
.header{
	font-family: 14px;
	background: url('../images/BACKGROUND.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
}
.header_jump{
	padding-top: 100px;
	font-size: 22px;
	background: url('../images/atrevete.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
}
.block{padding-top: 40px;}
.block-space{height: 40px;}
.section-col-left{text-align:left;}
.section-col-right{text-align:right;}
.section-logo{margin-bottom: 10px; margin-top: 30px;}
.section-space{height: 10px;}
.row-space{ padding: 10px;}
.form-control{
	margin: 20px;
	font-size: 14px;
	padding: 10px;
	width: 90%;
}
.container img{
	max-width: 100%;
}
h1{
	font-size: 30px;
	font-weight: bold;
	color:#FFF;
	padding: 0px;
	margin:0px;
}
h2{
	font-size: 20px;
	line-height: 1.2;
	font-weight: bold;
}
h3{
	font-size: 14px;
	padding-bottom: 10px;
	margin: 0px;
	font-weight: bold;
}
h4{
	font-size: 12px;
	padding-bottom: 20px;
	margin: 0px;
	font-weight: bold;
	text-transform: uppercase;
}
}