@font-face {
	font-family: 'Apercur';
	src: url('fonts/Apercu.otf');
	src: local('â˜º'), url('font/Apercu.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercur-Bold';
	src: url('fonts/Apercu-Bold.otf');
	src: local('â˜º'), url('font/Apercu-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercur-Light';
	src: url('fonts/Apercu-Light.otf');
	src: local('â˜º'), url('font/Apercu-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercur-Medium';
	src: url('fonts/Apercu-Medium.otf');
	src: local('â˜º'), url('font/Apercu-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}


html{}
body{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	line-height: 1.8em;
	background-color:#FFF;
	padding:0px;
	margin:0px;
}
.alert{display: none;}
.contact{
	padding: 40px;
	font-size: 25px;
	margin: 20px 0;
}

.footer a{color:#000;}

.footer a:hover{}
.center{text-align:center;}
.block{padding-top: 30px;}
.block-space{height: 95px;}
.section-space{height: 114px;}
.row-space{ padding: 48px;}

.light{font-family: 'Apercur-Light';}
.white {color:#FFF;}

.section{padding: 48.5px 0px;}
.section-col-left{text-align:left;}
.section-col-right{text-align:right;}
.section-logo{margin-bottom: 27px; margin-top: 50px;}
.tuvalum{background-color: #51b9ff;}
.sclusib{color:#000;}
.battgo{background-color: #64dc16;}
.busvision{background-color: #ffca00;}
.monde{background-color: #292929;}
.team{
	margin: 0 auto;
	text-align: center ;
	padding: 15px;
}
.btn-rudo{
	background-color: #f8da00;
	color: #FFF;
	width: 245px;
	font-size: 22px;
	outline: none;
}
.header{
	font-family: 14px;
	background: url('../images/HeaderTeam.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 819px;
}
.header_jump{
	padding-top: 142px;
	font-size: 22px;
	background: url('../images/atrevete.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 409px;
}
.logo{
	width: 163px;
	height: 61px;
}
.header-space{
	height: 321px;
}
.profile{
	height: 500px;
}
.rowteam{
	padding-bottom: 40px;
}
.QUOTE{
	background: url('../images/teamQuote.png') no-repeat;  
	background-size: cover;
	font-size: 20px;
	color:#FFF;
}
.RM{
	background: url('../images/team/RichardM.png') no-repeat; 
	background-size: cover;
}
.RMG{
	background: url('../images/richard.gif') no-repeat;   
	background-size: cover;
}
.FS{
	background: url('../images/team/FernandoS.png') no-repeat;  
	background-size: cover;
}
.FSG{
	background: url('../images/fer.gif') no-repeat;  
	background-size: cover;
}
.OV{
	background: url('../images/team/Oscar.png') no-repeat;  
	background-size: cover;
}
.EC{
	background: url('../images/team/Emilio.png') no-repeat;  
	background-size: cover;
}
.PV{
	background: url('../images/team/Pablo.png') no-repeat;  
	background-size: cover;
}
.AC{
	background: url('../images/team/Abby.png') no-repeat;  
	background-size: cover;
}
.KR{
	background: url('../images/team/Keon.png') no-repeat;  
	background-size: cover;
}
.AO{
	background: url('../images/team/Alvaro.png') no-repeat;  
	background-size: cover;
}
.LB{
	background: url('../images/team/Laura.png') no-repeat;  
	background-size: cover;
}
.CS{
	background: url('../images/team/carlosS.png') no-repeat;  
	background-size: cover;
}
.AF{
	background: url('../images/team/Antonio.png') no-repeat;  
	background-size: cover;
}
.CL{
	background: url('../images/team/Carlis.png') no-repeat;  
	background-size: cover;
}
.CG{
	background: url('../images/team/celia.png') no-repeat;  
	background-size: cover;
}
.profile-desc{
	background:rgba(35,184,239,0.5);
	display: none;
	padding: 40px;
	height: 500px;
	color: #FFF;
	font-size: 12px;
}
.profile-info{
	padding: 40px;
	padding-top: 340px;
}
.profile-info h1{
	font-size: 36px;
}
.profile-info h2{
	background-color: #23b8ef;
	padding: 5px;
	display:inline-block; 
	font-size: 12px;
	color:#FFF;
}
.profile-quote{
	padding: 40px;
	font-size: 30px;
	line-height: 1.5em;
}
h1{
	font-size: 80px;
	font-weight: bold;
	color:#FFF;
	padding: 0px;
	margin:0px;
}
h2{
	font-size: 50px;
	line-height: 1.2;
	font-weight: bold;
}
h3{
	font-size: 20px;
	padding-bottom: 10px;
	margin: 0px;
	font-weight: bold;
}
h4{
	font-size: 14px;
	padding-bottom: 20px;
	margin: 0px;
	font-weight: bold;
	text-transform: uppercase;
}
.nav-pills{

	float: right;
  display: block;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

.nav-pills > li{
	
}
.nav-pills, .nav-pills > li > a{
	font-weight: bold;
	border-radius:0px;
}
.nav-pills > li > a:hover{
	border-radius: 5px;
	color:#1d7ed6;
	background-color: #FFF;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
	text-decoration: none;
	border-radius:5px;	
    color: #1d7ed6 !important;
	background-color: #FFF !important;
}

.nav .active { background:none }
/*************************************************/
.topheader, .topheader_transparent{        
    padding-top:50px ;
    padding-bottom: 10px;
    // set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: none;
}

.sticky .nav-pills > .active > a,
.sticky .nav-pills > .active > a:hover {
	text-decoration: none;
	border-radius:5px;	
    color: #FFF !important;
	background-color: #1d7ed6 !important;
}

.topheader .nav-pills > li > a:hover{
	border-radius: 5px;
	color:#1d7ed6;
	background-color: #FFF;
}





.topheader_transparent .nav-pills > li > a {
  color: #000;
}

      
.topheader.sticky, .topheader_transparent.sticky{
    position: fixed;  
    padding-top:30px ;  
    width: 100%;
    z-index: 999;
    background: #FFF;  
    color: #FFF; 
    border-bottom: 1px solid #f1f1f1;     
}
.topheader .nav-pills > li > a {
color:#FFF;
}

.sticky .nav-pills > li > a{
	border-radius: 5px;
	color:#000;
}

.topheader_static{    
  padding-top: 50px;
}

/********************************************************/
