@font-face {
	font-family: 'Apercur';
	src: url('fonts/Apercu.otf');
	src: local('â˜º'), url('font/Apercu.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercur-Bold';
	src: url('fonts/Apercu-Bold.otf');
	src: local('â˜º'), url('font/Apercu-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercur-Light';
	src: url('fonts/Apercu-Light.otf');
	src: local('â˜º'), url('font/Apercu-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercur-Medium';
	src: url('fonts/Apercu-Medium.otf');
	src: local('â˜º'), url('font/Apercu-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}


html{}
body{
	font-family: 'Apercur-Light';
	font-size:18px;
	background-color:#FFF;
	padding:0px;
	margin:0px;
}
.alert{display: none;}
.contact{
	padding: 40px;
	font-size: 25px;
	margin: 20px 0;
}

.footer a{color:#000;}

.footer a:hover{}
.center{text-align:center;}
.block{padding-top: 95px;}
.block-space{height: 95px;}
.section-space{height: 114px;}
.row-space{ padding: 48px;}

.light{font-family: 'Apercur-Light';}
.white {color:#FFF;}

.section{padding: 48.5px 0px;}
.section-col-left{text-align:left;}
.section-col-right{text-align:right;}
.section-logo{margin-bottom: 27px; margin-top: 50px;}
.tuvalum{background-color: #51b9ff;}
.sclusib{color:#000;}
.battgo{background-color: #64dc16;}

.team{
	margin: 0 auto;
	text-align: center ;
	padding: 15px;
}
.btn-rudo{
	background-color: #f8da00;
	color: #FFF;
	width: 245px;
	font-size: 22px;
	font-family: 'Apercur-Bold';
	outline: none;
}
.header{
	font-size: 22px;
	background: url('../images/BACKGROUND.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 819px;
}
.header_jump{
	padding-top: 142px;
	font-size: 22px;
	background: url('../images/atrevete.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 409px;
}
.logo{
	width: 163px;
	height: 61px;
}
.header-space{
	height: 321px;
}
h1{
	font-family: 'Apercur-Bold';
	font-size: 80px;
	color:#FFF;
	padding: 0px;
	margin:0px;
}
h2{
	font-family: 'Apercur-Bold';
	font-size: 50px;
	line-height: 1.2;
}
h3{
	font-family: 'Apercur-Bold';
	font-size: 25px;
	margin: 0px;
}

.nav-pills{
	float: right;
  display: block;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

.nav-pills > li{
	
}
.nav-pills, .nav-pills > li > a{
	font-weight: bold;
	border-radius:0px;
}
.nav-pills > li > a:hover{
	border-radius: 5px;
	color:#1d7ed6;
	background-color: #FFF;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
	text-decoration: none;
	border-radius:5px;	
    color: #1d7ed6 !important;
	background-color: #FFF !important;
}

.nav .active { background:none }
/*************************************************/
.topheader, .topheader_transparent{        
    padding-top:50px ;
    padding-bottom: 10px;
    // set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: none;
}

.sticky .nav-pills > .active > a,
.sticky .nav-pills > .active > a:hover {
	text-decoration: none;
	border-radius:5px;	
    color: #FFF !important;
	background-color: #1d7ed6 !important;
}

.topheader .nav-pills > li > a:hover{
	border-radius: 5px;
	color:#1d7ed6;
	background-color: #FFF;
}





.topheader_transparent .nav-pills > li > a {
  color: #000;
}

      
.topheader.sticky, .topheader_transparent.sticky{
    position: fixed;  
    padding-top:10px ;  
    width: 100%;
    z-index: 999;
    background: #FFF;  
    color: #FFF; 
    border-bottom: 1px solid #f1f1f1;     
}
.topheader .nav-pills > li > a {
color:#FFF;
}

.sticky .nav-pills > li > a{
	border-radius: 5px;
	color:#000;
}

.topheader_static{    
  padding-top: 50px;
}

/********************************************************/
/*Loader*/

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}